<!DOCTYPE html>
<html>
  <head>
    <title>Sprint Reviewer</title>
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css"> 
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://use.fontawesome.com/886e08d705.js"></script>

   	<!-- Fonts -->
   	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="reviewer" ng-controller="Ctrl">
 
    <nav id="menu" class="navbar navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="padding-right:5px; border-color:white;">
                    <span class="glyphicon glyphicon-plus" style="font-size:12px;color:white;text-align:center;"></span>
                    
                </button>
                <a class="navbar-brand" href="#">2017-2-4</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Retros</a></li>                    
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
      
      <div class="row">

        <div class="col-sm-4">
          <div class="panel panel-good">
            <div class="panel-heading">
              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;
				      GOOD
              <span class="toggles">
                {{good.length}} &nbsp;&nbsp;

                <i class="fa fa-plus-square-o" aria-hidden="true" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></i>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">What went well?</h4>
                      </div>
                      <div class="modal-body">
                        <input class="addEntry" type="text" ng-model="goodInput">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addGood(goodInput)">Add</button>
                      </div>
                    </div>
                    
                  </div>
                </div>



              </span>
            </div>
            <div class="panel-body" id="good" ng-repeat="g in good"> 
              {{g.body}} 
			        <br><i class="fa fa-user-circle" aria-hidden="true"></i>
              &nbsp;{{g.author}}
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-bad">
            <div class="panel-heading">
              <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
				      BAD
              <span class="toggles">
                {{bad.length}} &nbsp;&nbsp;
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
              </span>
            </div>
            <div class="panel-body" id="bad" ng-repeat="b in bad">
              {{b.body}}
              <br><i class="fa fa-user-circle" aria-hidden="true"></i>
              &nbsp;{{b.author}}
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-improve">
            <div class="panel-heading">
              <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
              IMPROVE
              <span class="toggles">
                {{improve.length}} &nbsp;&nbsp;
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
              </span>
            </div>
            <div class="panel-body" id="improve" ng-repeat="i in improve">
              {{i.body}}
              <br><i class="fa fa-user-circle" aria-hidden="true"></i>
              &nbsp;{{i.author}}
            </div>
          </div>
        </div>

      </div>

    </div>
    
  </body>
</html>
