<!DOCTYPE html>
<html>
  <head>
    <title>Sprint Reviewer</title>
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css"> 
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://use.fontawesome.com/886e08d705.js"></script>

   	<!-- Fonts -->
   	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="reviewer" ng-controller="Ctrl">
 

    <div class="container-fluid">
      <div class="row">
        <h2 >2017-2-4</h2>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <div class="panel panel-good">
            <div class="panel-heading">
              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;
				      GOOD
              <span class="toggles">
                {{good.length}}
              </span>
            </div>
            <div class="panel-body" id="good" ng-repeat="g in good"> 
              {{g.body}} 
			        <br><i class="fa fa-user-circle" aria-hidden="true"></i>
              &nbsp;{{g.author}}
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-bad">
            <div class="panel-heading">
              <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
				      BAD
              <span class="toggles">
                {{bad.length}}
              </span>
            </div>
            <div class="panel-body" id="bad" ng-repeat="b in bad">
              {{b}}
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-improve">
            <div class="panel-heading">
              <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
              IMPROVE
              <span class="toggles">
                {{improve.length}}
              </span>
            </div>
            <div class="panel-body" id="improve" ng-repeat="i in improve">
              {{i}}
            </div>
          </div>
        </div>

      </div>

    </div>
    
  </body>
</html>
