body {
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #EBF0F3;
}

.col-sm-4 {
    margin: 0px;
    padding: 0px;
}

.panel-heading {
	font-family: 'Fira Sans Extra Condensed';
	font-size: 2.5em;
}

.panel-good {
    border-color: #8F7EE8;
    background-color: #EBF0F3;
}

.panel-good > .panel-heading {
    border-color: #8F7EE8;
    color: #fff;
    background-color: #8F7EE8;
}

.panel-good > a {
    color: #5cb85c;
}

.panel-good > a:hover {
    color: #3d8b3d;
}

.panel-bad {
    border-color: #2EC0C0;
    border-left-style: none;
    border-right-style: none;
    background-color: #F6F7F9;
}

.panel-bad > .panel-heading {
    border-color: #2EC0C0;
    color: #fff;
    background-color: #2EC0C0;
}

.panel-bad > a {
    color: #d9534f;
}

.panel-bad > a:hover {
    color: #b52b27;
}

.panel-improve {
    border-color: #FF9F1C;
    background-color: #EBF0F3;
}

.panel-improve > .panel-heading {
    border-color: #FF9F1C;
    color: #fff;
    background-color: #FF9F1C;
}

.panel-improve > a {
    color: #f0ad4e;
}

.panel-improve > a:hover {
    color: #df8a13;
}

.panel-body {
    margin: 3%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    font-family: 'Dosis';
    font-size: 1.5em;
    color: #333333;
    box-shadow: 0 6px 2px -2px #d6d6d6;
}

/*TOGGLES*/

.toggles {
    float: right;
}

/*NAV*/

.navbar {
    margin-bottom: 0;
    background-color: white;
    /*border-bottom: black;*/
    font-size: 6em;
    line-height: 40px;
    letter-spacing: 4px;
    font-family: 'Fira Sans Extra Condensed';
}

.navbar li a, .navbar .navbar-brand {
    color: #333333;
    font-size: 30px;
    line-height: 40px;
    height: 70px;
}

.navbar-nav li a:hover{
    color: #028090;
    background-color: #fff;
    border-bottom-color:#02A7FF;
    border: 2px;
} 

.navbar-nav li.active a{
    color: #028090;
    background-color: #fff;
    border-bottom-color: #02A7FF;
    border: 2px;
}

/*BUTTONS*/

.row i {
    opacity: 1;
}

.row i:hover {
    opacity: 0.6;
    -webkit-transition:.3s;
    cursor: pointer;
}

/*MODAL*/

.modal-title {
    color: #333333;
}

.modal-body {
    color: #333333;
}

.addEntry {
    width: 100%;
}

/*FOOTER*/

footer {
    text-align: center;
}
