body {
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #EBF0F3;
}

.col-sm-4 {
    margin: 0px;
    padding: 0px;
}

.panel-heading {
	font-family: 'Fira Sans Extra Condensed';
	font-size: 2.5em;
}

.panel-green {
    border-color: #5cb85c;
    background-color: #EBF0F3;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
    border-left-style: none;
    border-right-style: none;
    background-color: #F6F7F9;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
    background-color: #EBF0F3;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-body {
    margin: 3%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    font-family: 'Dosis';
    font-size: 1.5em;
    color: #333333;
    box-shadow: 0 6px 2px -2px #d6d6d6;
}

.toggles {
    float: right;
}